* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(180, 182, 186);
    height: 1400px;
}

#heading-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    position: relative;
    background-color: rgb(232, 232, 232);
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    max-block-size: 1200px;
    border-radius: 20px;
}

.container-2 {
    position: relative;
    background-color: rgb(232, 232, 232);
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    max-block-size: 1200px;
    border-radius: 20px;
}

.container-3 {
    position: relative;
    background-color: rgb(232, 232, 232);
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    max-block-size: 1200px;
    border-radius: 20px;
}

.responsive-image {
    max-width: 99% !important;
    min-width: 60% !important;
    height: auto !important;
    margin: 15px 15px;
    border-radius: 20px;
    block-size: 100%;
}

.responsive-image-2 {
    max-width: 97.5% !important;
    min-width: 60% !important;
    height: auto !important;
    margin-right: 25px;
    /* margin-top: 25px; */
    margin-bottom: 25px;
    border-radius: 20px;
    block-size: 100%;
}

.responsive-image-3 {
    width: 700px;
    max-width: 100% !important;
    min-width: 90% !important;
    height: auto !important;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 35px;
    border-radius: 20px;
    block-size: 100%;
}

.responsive-image-4 {
    float: 10px right;
    width: 505px;
    height: 950px;
    max-height: 95%;
    max-width: 94% !important;
    min-width: 60% !important;
    margin: 15px 15px;
    border-radius: 20px;
    block-size: 100%;
}

.responsive-image-5 {
    max-width: 92% !important;
    min-width: 50% !important;
    height: auto !important;
    margin-left: 20px;
    /* margin-top: 25px; */
    margin-bottom: 25px;
    border-radius: 20px;
    block-size: 100%;
}

#heading {
    text-align: center;
    padding-top: 10px;
}

#weather-api {
    line-height: 35px;
}

.col-lg-5 {
    margin-left: 60px;
}

#password {
    text-align: center;
    padding-top: 20px;
    padding-left: 45px;
    line-height: 45px;
}

#password-heading {
    text-align: center;
    padding-top: 15px;
}

/* I couldn't figure out how to place a banner over another image. "nesting" I beleive that its called? I looked everywhere and everytime i tried it wouldnt respond correctly */
/* .banner-1 {
    max-width: 87.4%;
    padding: 10px;
    margin-left: 40px;
    border-bottom: none;
    background-color: rgba(47, 80, 107, 0.6901960784313725);
    text-align: center;
    color: white;
} */

.banner-2 {
    max-width: 97.5%;
    padding: 10px;
    border: none;
    background-color: rgba(47, 80, 107, 0.6901960784313725);
    text-align: center;
    color: white;
}

.banner-3 {
    max-width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgba(47, 80, 107, 0.6901960784313725);
    text-align: center;
    color: white;
}

/* .banner-4 {
    max-width: 91.9%;
    padding: 10px;
    margin-right: 34px;
    border-bottom: none;
    background-color: rgba(47, 80, 107, 0.6901960784313725);
    text-align: center;
    color: white;
} */
/* footer was tricky with bootstrap. I couldnt get anything from bootstrap to go to the bottom of the page. So I looked online and found a video and used that as a reference */
.footer {
    position: absolute;
    margin-top: 60px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-top: 100px;

}

img.linkedin.img-responsive {
    padding-left: 10px;
    max-height: 47px;
    max-width: 47px;
}

img.footer_github_logo {
    padding-left: 10px;
}

img.footer_resume_logo {
    padding-left: 5px;
    max-width: 36px;
    max-height: 36px;
}
